<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather in New Palestine, IN</title>
</head>

<header>
    <h1 style="background-color: maroon; color: white; border: 8px solid black; padding: 10px; text-align: center;">
        New Palestine: Home of the Dragons
    </h1>
</header>

<body>
    <h1>In New Palestine, Indiana</h1>
    <h3>the current weather is <i>{{ weather }}</i>.</h3>
</body>

</html>