<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ weather }}</title>
</head>

<header>
    <h1 style="background-color: maroon; color: white; border: 8px solid black; padding: 10px; text-align: center;">
        New Palestine: Home of the Dragons
        <nav>
            <a href="http://127.0.0.1:5000/" style="margin-right:16px;">Home</a>
            <a href="http://127.0.0.1:5000/temperature" style="margin-right:16px; margin-left:16px; ">Temperature</a>
            <a href="http://127.0.0.1:5000/wind" style="margin-left: 16px;">Wind</a>
        </nav>
    </h1>
</header>

<body>
    <h1>In New Palestine, Indiana</h1>
    <h3>the current weather is <i>{{ weather }}</i>.</h3>
</body>

</html>